{% extends 'base.html' %}

{% block title %}Candidate List{% endblock %}

{% block content %}

<br>
<a href = "{% url 'candidList' %}"><button>View all candidates</button></a>
<a href = "{% url 'index' %}"><button> Home </button></a>
<br><br>
	
	<label for="events_id">Choose an Event:</label>

<select name="events_id" id="events_id" onChange="window.location.href=this.value">
  
</select>
<a href= "{% url 'calist' %}"><button>Campus Ambassadors list</button></a>
<a href= "{% url 'salist' %}"><button>Special Achievers list</button></a>
<br><br>

<a href= "{% url 'massmail' %}"><button>SEND MAIL TO ALL PARTICIPANTS</button></a>
<br>
<br>
<table rules="all">
	<thead>
		<th>ALCHER_ID</th>
		<th>NAME</th>
		<th>CERTIFICATE_TYPE</th>
		<th>Position</th>
		<th>College</th>
		<th>EVENT</th>
		<th>Special Achievement</th>
		<th>IS_VALID</th>
		<th>EMAIL</th>
	</thead>
	<tbody>
		{% for candid in candids %}
		<tr>
			<td><a href="{% url 'candidUpdateForm' candid.pk %}" title="Edit">{{candid.alcher_id}}</a></td>
			<td>{{candid.name}}</td>
			<td>{{candid.get_certificate_type_display}}</td>
			<td>{{candid.position}}</td>
			<td>{{candid.college}}</td>
			{% if candid.certificate_type == 'CA' %}
			<td></td>
			{% else %}
			<td>{{candid.event}}</td>
			{% endif %}
			<td>{{ candid.special_achievement }} </td>
			<td>{{candid.is_valid}}</td>
			<td>{{candid.email}}</td>
			{% if candid.is_valid and candid.is_generated %}
			<td><a href="{% url 'send_email' candid.alcher_id candid.certificate_url %}"><button>Send Email</button></a></td>
			<td><a href="{% url 'certificate' candid.certificate_url %}" target="_blank"><button>View Certificate</button></a></td>
			<td><a href="{% url 'certificate' candid.certificate_url %}" download="{{ candid.name }}_{{ candid.event }}.pdf"><button>Save Certificate</button></a></td>
			{% endif %}
		</tr>
	{% endfor %}
	</tbody>
</table>
	
	<a href="{% url 'candidForm' %}"><button>
		Add Candidates
	</button></a>

	<a href="{% url 'candidBulk' %}"><button>
		Add Candidates through CSV
	</button></a>

	<a href = "{% url 'candidList' %}"><button>View all candidates</button></a>
	<a href = "{% url 'index' %}"><button> Home </button></a>

<script>
		EVENT_OPTIONS = [
' None ',
' Houte Couture ',
' States of Dress ',
' Glamour Nova ',
' Rock-O-Phonix ',
' Mr. Alcheringa ',
' Crossfade ',
' Alcher Got Talent ',
' Rap Battle ',
' Theatrix ',
' Monodrama ',
' Halla Bol ',
' Electic Heels ',
' Step Up ',
' Dancing Duo ',
' So You Think You Can Dance ',
' Navras ',
' Raga High ',
' Unplugged ',
' Voice of Alcheringa ',
' Choir ',
' Just A Minute ',
' Mehfil - a - Alcheringa ',
' Parliamentry Debate ',
' Poetry Slam - Hindi ',
' Poetry Slam - English ',
' Zephyr ',
' Face Art ',
' Ink The Tee ',
' Graffiti ',
' Clay Modelling ',
' Live Sketching ',
' Rangoli ',
' Who is it? ',
' 5 on 5 football ',
' Arm Wrestling ',
' 3 on 3 Basketball ',
' Gully Cricket ',
' 3 on 3 Volleyball ',
" Director's Cut ",
' Musically ',
' Snap Thrillz ',
' Custom Brush ',
' Doodle Pad ',
' Alcher Diva/Hunk ',
' Xpressions ',
' Parliamentry Debate ',
' General Quiz ',
' Business Quiz ',
' Sports Quiz ',
' Bollywood Quiz ',
' Comic Quiz ',
' India Quiz ',
]
	let sel = document.getElementById('events_id');
	let child = document.createElement('option');
	var att = document.createAttribute("value"); 
	att.value = "http://127.0.0.1:8000/candidlist";                           // Set the value of the class attribute
	child.setAttributeNode(att);    
	child.text = "All";
	sel.appendChild(child);
	for(let i = 1;i<EVENT_OPTIONS.length;i++) {
		let child = document.createElement('option');
		var att = document.createAttribute("value"); 
		att.value = "http://127.0.0.1:8000/candidlist/filter/"+i;                           // Set the value of the class attribute
		child.setAttributeNode(att);    
		child.text = EVENT_OPTIONS[i];
		sel.appendChild(child);
	}
	</script>
{% endblock %}